<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <a href="{{ path('ajout_actualite') }}">Ajouter une actualité</a>
    {% for actu in actualite %}
        {{ actu.titre }}
        {{ actu.contenu }}
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
