<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Ajout Actualite | Roll&Play{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body  %}
    {{ form(form) }}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
