<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}
        <link rel="stylesheet" href="{{ asset('assets/css/style.css') }}">
        <link href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u" crossorigin="anonymous">

    {% endblock %}
</head>
<body>
{% block body %}
    <header class="col-xs-12">
        <div>
            <a href="/">
                <img src="https://media.discordapp.net/attachments/425285814352609280/427771591800389634/Fichier_4.png" alt="logo"></a>
        </div>
        <ul>
            {% if not is_granted('IS_AUTHENTICATED_FULLY') %}
            <li><a href="/inscription">inscription</a></li>
            <li> <a href="/connexion">connexion</a></li>
            {% endif %}
            {% if is_granted('IS_AUTHENTICATED_FULLY') %}

            <li><a href="/profil">{{ user.login }}</a></li>
            <li><a href="/deconnexion">deconnexion</a></li>
            <li><a href="/lobby">Mon lobby</a></li>
            <li><a href="/actualite">Actualités</a></li>

        </ul>
        {% endif %}



    </header>
    <main class="col-xs-12 profil">
        <div class="container">
            <div class="col-sm-9">
                <h2>Votre Profil </h2>
                <div class="info">
                    <h4>Votre login : {{ user.login }}</h4>

                </div>
                <div class="info">
                    <h4>Votre E-mail : {{ user.email }}</h4>
                </div>

            </div>
            <div class="col-sm-3">

            </div>
        </div>
    </main>
    <footer class="col-xs-12 footerinscription">
        <p>Copyright - NFatorySchool - ce site a ete crée dans le cadre d'un exercice </p>
    </footer>
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
