main {
    padding: 0 !important;
}
.logo {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translateX(-50%);
}
textarea {
    border-radius: 10px;

}
textarea:hover{
    box-shadow: 0 0 10px red;
}
.des {
    position: absolute;
    left: 0;
    top: 0;
    width: 50px;
    background: white;
    cursor: pointer
}
img {
    max-width: 100%;
}
.lancer {
    width: 500px;
    height: 500px;
    background: white;
    position: absolute;
    top: 50%;
    left: 40%;
    transform: translateY(-25%);
    z-index: 999;
}
