<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') == false %}
    <a href="/inscription">inscription</a>
    <a href="/connexion">connexion</a>
    {% endif %}
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/profil">profil</a>
        <a href="/deconnexion">deconnexion</a>
        <a href="/lobby">Mon lobby</a>

    {% endif %}

    {% for actualite in actualites %}
        {{ actualite.titre }}
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
