<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>{% block title %}Welcome!{% endblock %}</title>
    {% block stylesheets %}{% endblock %}
</head>
<body>
{% block body %}
    <a href="/inscription">inscription</a>
    <a href="/connexion">connexion</a>
    {% if is_granted('IS_AUTHENTICATED_FULLY') %}
        <a href="/deconnexion">deconnexion</a>

    {% endif %}
    {{ dump(app.user) }}
    {% for actualite in actualites %}
        {{ actualite.titre }}
    {% endfor %}
{% endblock %}
{% block javascripts %}{% endblock %}
</body>
</html>
